body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo escura */
    color: #ffffff; /* Cor do texto clara */
    display: flex; /* Usando flexbox para centralização */
    flex-direction: column; /* Alinha os itens na coluna */
    align-items: center; /* Centraliza horizontalmente */
    margin: 0; /* Remove margens padrão */
    padding: 20px; /* Adiciona um pouco de preenchimento */
}

header {
    width: 100%; /* Largura total */
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

nav ul li {
    display: inline; /* Alinha os itens em linha */
    margin: 0 15px; /* Espaçamento entre os itens */
}

nav a {
    color: #007bff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

nav a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}

h1 {
    color: #007bff; /* Cor do título */
    text-align: center; /* Centraliza o texto do título */
}

p {
    line-height: 1.5; /* Melhora a legibilidade do parágrafo */
    text-align: justify; /* Justifica o texto do parágrafo */
    max-width: 800px; /* Largura máxima do texto */
    margin: 10px 0; /* Espaçamento acima e abaixo dos parágrafos */
}

img {
    margin: 20px 0; /* Adiciona espaço acima e abaixo da imagem */
}

.footer-content {
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona um pouco de preenchimento se necessário */
}


