<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Características do Vôlei</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/historico">Histórico</a></li>
                <li><a href="/caracteristicas">Características</a></li>
                <li><a href="/regras">Regras</a></li>
                <li><a href="/curiosidades">Curiosidades</a></li>
                <li><a href="/referencias">Referências</a></li>
            </ul>
        </nav>
    </header>

    <h1>Características do Vôlei</h1>
    <img src="{% static 'imagens/caracteristicas.jpeg' %}" alt="Características do Vôlei" style="max-width: 100%; height: auto;">

    <p>O vôlei é um esporte de equipe jogado em uma quadra dividida ao meio por uma rede. Cada time, composto por seis jogadores, deve fazer com que a bola toque o chão do lado adversário para marcar pontos, evitando que ela caia no próprio lado.</p>

    <p>O jogo é caracterizado por movimentos rápidos, saltos e estratégias de defesa e ataque. A técnica de salto é essencial, especialmente para bloqueios e ataques, que exigem habilidades de impulsão e precisão.</p>

    <p>Uma partida de vôlei é jogada em sets, geralmente melhor de cinco, onde vence o set o time que atingir 25 pontos primeiro, desde que mantenha uma vantagem de pelo menos dois pontos sobre o adversário.</p>

    <p>O vôlei promove trabalho em equipe, comunicação e coordenação. Cada jogador tem uma função específica em quadra, como levantador, líbero, atacante ou central, o que torna o jogo altamente estratégico e dinâmico.</p>

    <footer>
    <div class="footer-content">
        <p>Pedro Henrique Felix - Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>
