<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosidade do Vôlei</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/historico">Histórico</a></li>
                <li><a href="/caracteristicas">Características</a></li>
                <li><a href="/regras">Regras</a></li>
                <li><a href="/curiosidades">Curiosidades</a></li>
                <li><a href="/referencias">Referências</a></li>
            </ul>
        </nav>
    </header>

    <h1>Curiosidades do Vôlei</h1>
    <img src="{% static 'imagens/curiosidades.jpeg' %}" alt="Curiosidade do Vôlei" style="max-width: 100%; height: auto;">

    <p>O vôlei de praia se tornou um esporte olímpico em 1996, apesar de o vôlei de quadra já fazer parte das Olimpíadas desde 1964, o vôlei de praia só foi incluído nos Jogos Olímpicos quase três décadas depois, nos Jogos de Atlanta.</p>

    <p>O saque mais rápido registrado no vôlei foi feito pelo jogador polônes Wilfredo Leon, que alcançou a marca de 138 km/h em um campeonato em 2019. Esse recorde impressiona pela velocidade, superando até algumas saques de tênis!</p>

    <p>No vôlei profissional, a bola precisa girar com precisão para garantir o controle no saque e nos ataques. Porém, os jogadores costumam usar técnicas que minimizam esse giro, criando um efeito flutuante e imprevisível, dificultando a defesa do time adversário.</p>

    <p>Embora o Brasil seja um dos países mais famosos no vôlei, com inúmeros títulos mundiais, a origem do esporte é americana. Mesmo assim, países como Rússia, Estados Unidos e Itália também têm grandes equipes e rivalizam com o Brasil em competições globais.</p>

    <footer>
    <div class="footer-content">
        <p>Pedro Henrique Felix - Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>
