<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico do Vôlei</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/historico">Histórico</a></li>
                <li><a href="/caracteristicas">Características</a></li>
                <li><a href="/regras">Regras</a></li>
                <li><a href="/curiosidades">Curiosidades</a></li>
                <li><a href="/referencias">Referências</a></li>
            </ul>
        </nav>
    </header>

    <h1>Histórico do Vôlei</h1>
    <img src="{% static 'imagens/william.jpeg' %}" alt="Histórico do Vôlei" style="max-width: 100%; height: auto;">

    <p>O vôlei, ou voleibol, surgiu em 1895 nos Estados Unidos. O esporte foi criado por William George Morgan, diretor de Educação Física da Associação Cristã de Moços (ACM) da cidade de Holyoke, no estado de Massachusetts. A modalidade foi criada com a intenção de realizar um esporte durante o inverno em local fechado, oferecendo uma alternativa menos desgastante e agressiva do que o basquete, que já havia sido criado em uma ACM alguns anos antes, em 1891.</p>

    <p>O pastor Lawrence Rinder desafiou William Morgan a desenvolver um novo esporte, resultando na criação do minonette, que mais tarde se tornaria o voleibol. As regras iniciais eram diferentes das que conhecemos hoje, mas já compartilhavam a ideia de um jogo de quadra dividido por uma rede. Em 1915, o vôlei foi introduzido nas escolas dos Estados Unidos, ganhando popularidade rapidamente.</p>

    <p>A popularidade do vôlei cresceu e, em 1947, foi fundada a Federação Internacional de Voleibol (FIVB). O primeiro Campeonato Mundial de Voleibol masculino foi realizado em 1949, e o vôlei foi incluído nos Jogos Olímpicos em 1964, durante os jogos de Tóquio. Desde então, o esporte se diversificou, com o surgimento de modalidades como o vôlei de praia, que se tornou muito popular nas décadas de 1990 e 2000.</p>

    <p>Hoje, o vôlei é um dos esportes mais praticados em todo o mundo, com milhões de jogadores e fãs. O esporte não só promove a atividade física e a competição, mas também enfatiza a importância do trabalho em equipe e da comunicação.</p>

    <footer>
    <div class="footer-content">
        <p>Pedro Henrique Felix - Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>
