<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regras do Vôlei</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/historico">Histórico</a></li>
                <li><a href="/caracteristicas">Características</a></li>
                <li><a href="/regras">Regras</a></li>
                <li><a href="/curiosidades">Curiosidades</a></li>
                <li><a href="/referencia">Referências</a></li>
            </ul>
        </nav>
    </header>

    <h1>Referências</h1>
    <img src="{% static 'imagens/volei.gif' %}" alt="Regras do Vôlei" style="max-width: 100%; height: auto;">

    <p>https://brasilescola.uol.com.br/educacao-fisica/voleibol.htm</p>

    <p>https://www.esportelandia.com.br/volei/saques-mais-fortes-do-volei/.</p>


    <footer>
    <div class="footer-content">
        <p>Pedro Henrique Felix - Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>
