<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regras do Vôlei</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/historico">Histórico</a></li>
                <li><a href="/caracteristicas">Características</a></li>
                <li><a href="/regras">Regras</a></li>
                <li><a href="/curiosidades">Curiosidades</a></li>
                <li><a href="/referencias">Referências</a></li>
            </ul>
        </nav>
    </header>

    <h1>Regras do Vôlei</h1>
    <img src="{% static 'imagens/Regras.jpeg' %}" alt="Regras do Vôlei" style="max-width: 100%; height: auto;">

    <p>O vôlei é jogado em uma quadra retangular dividida ao meio por uma rede. Cada equipe tem seis jogadores, e o objetivo é fazer a bola tocar o chão do lado adversário, marcando pontos.</p>

    <p>Os jogadores podem tocar na bola até três vezes antes de enviá-la ao lado adversário, mas nenhum jogador pode tocar na bola duas vezes consecutivas, exceto nos casos de bloqueio.</p>

    <p>A partida é disputada em sets, e para vencer um set, é necessário alcançar 25 pontos com uma vantagem mínima de dois pontos. Um jogo completo geralmente é disputado em uma melhor de cinco sets.</p>

    <p>Outras regras incluem a rotação obrigatória dos jogadores em cada ponto ganho pelo saque e a proibição de pisar ou cruzar a linha central durante o saque ou ataque, garantindo um jogo limpo e seguro para todos.</p>

    <footer>
    <div class="footer-content">
        <p>Pedro Henrique Felix - Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>
